/* Global */

::before, ::after{
    box-sizing: border-box;
}

html, body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0;
}

.navbar .navbar-brand{
    color: gold;
    font-family: 'Dancing Script', cursive;
}

header .btn, .btn{
    background-color: gold;
    border: none;
}