/* Global */

::before,
::after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.container h2,
h5 {
  text-align: center;
  font-weight: bold;
}

.container p {
  color: grey;
  text-align: center;
}

/* Navbar */

.navbar {
  background-color: #131313;
}
.container-fluid {
  margin-left: 100px;
  margin-right: 100px;
}

.navbar .navbar-brand {
  color: gold;
  font-family: 'Dancing Script', cursive;
}

.navbar a {
  color: white;
}

/* splash */

.splash {
  position: relative;
}

.splash .btn,
.btn {
  background-color: gold;
  border: none;
}

.splash {
  position: relative;
  display: flex;
}

.splash img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.splash-inner {
  margin: auto;
  max-width: 70%;
  top: 30%;
  left: 25%;
  text-align: center;
  position: absolute;
}

.splash-inner .page-title {
  margin: 0;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.7;
  color: white;
}

.splash-inner .page-subtitle {
  margin: 24px 0;
  font-weight: 100;
  font-size: 24px;
  color: white;
}

/* service */

.service .service-icon {
  text-align: center;
}

.service .service-icon i {
  font-size: 35px;
  color: gold;
}

.service .service-text {
  text-align: center;
}

.service .col-lg-4 {
  padding-left: 48px;
  padding-right: 48px;
}

/* Our portfolio */

.portfolio {
  background-color: ghostwhite;
  padding-top: 48px;
  padding-bottom: 48px;
}

.portfolio .card {
  margin-right: 16px;
  margin-bottom: 16px;
}

/* footer */
footer {
  text-align: center;
  padding-top: 8px;
}

footer .container p {
  color: black;
  font-size: 20px;
  top: 50px;
}

footer li {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  line-height: 40px;
  font-size: 15px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
}

footer li i {
  color: white;
  width: 15px;
  height: 15px;
}
/* mobile */

@media (max-width: 767px) {
}
